.banner {
  width: 100%;
}

.banner-img {
  height: 65px;
}

.banner-org-container {
  display: flex;
  flex-direction: row;
  gap: 20px;  
  align-items: stretch;
  justify-content: center;
}
.banner-org-container-avatar {
  display: flex;  
  gap: 20px;
}

.banner-org-container-des {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  gap: 10px;
}

.banner-org-container-desc-tooltip {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 3px;
  column-gap: 20px;
}

.banner-org-container-desc-tooltip-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px
}

.bannerContainer {
  display: flex;
  flex-direction: row;
  gap: 4px;
}