@media screen and (min-width: 480px) {
  .card {
    flex: 1;
  }

  .card-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .card-events { 
    display: flex;
    flex-direction: column;
    flex: 5;
  }

  .card-task {
    display: flex;
    flex-direction: column;
    flex: 5;
  }

  .card-container-row {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
    flex: 1;
    margin-top: 10px;
    margin-left: 20px;
  }

  .card-stretch {
    flex: 1;
    height: 100%;
  }

  .card-content {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    justify-content: space-between;
  }

  .card-widget {
    height: 220px;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex: 1;
  }

  .content-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 480px) {
  .card {
    flex: 1;
    align-self: stretch;
    justify-self: stretch;
  }

  .card-row {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .card-small { 
    display: flex;
    flex-direction: column;
    flex: 2;
  }

  .card-medium {
    display: flex;
    flex-direction: column;
    flex: 5;
  }

  .card-container-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content:flex-start;
    flex: 1;
  }  

  .card-content {
    display: flex;
    flex-direction: column; 
    gap:5px;
    flex: 1;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex: 1;
  }

  .content-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}