.task-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-left: 5px;
}

.task-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #F2F2F2;
  border-radius: 4px;
  height: 36px;
  padding-right: 10px;
  padding-left: 5px;
}

.task-add {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #F2F2F2;
  padding-left: 4px;  
  height: 36px;
  border-radius: 4px;
}

.task-add-left {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  align-items: center;
}