.bannerContainer {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
}

.smallCardContent {
  display: flex;
  flex-direction: column; 
  gap: 8px;
  flex: 1;
  flex-basis: 160px;
}

.tab {
  display:flex;
  white-space: nowrap;
  flex-direction: row;  
  justify-content: space-between;
  gap: 2px;
}

.footer {
  margin-bottom: auto;
}

.collaboration {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-right: 10px;
}

.collaborationItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

.collaborationDes {
  display: flex;
  flex-direction: column;
}

.mediumContainer {
  display: flex;
  flex-direction: column; 
  gap: 15px;
  flex: 1;
  flex-basis: 420px;
}

.eventsDate {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.today {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.todayColor {
  color: gray;
}

.eventList {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 18px;
}
.eventsDetail {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  gap: 15px;
}

.eventsItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.dividerContainer {
  display: flex;
  overflow: hidden;
}

.actions {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
}

.filesAction {
  display: flex;
  flex-direction: row;
  justify-content: end;  
  margin-bottom: 10px;
}