.loginPage {
  display: flex;
  
}

.loginButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.fill-container {
  flex-grow: 1;
  align-self: stretch;
  justify-self: stretch;
}
